

.jumbotron {
    background-color: rgb(199, 199, 199);

    margin-bottom: 2px;
}


.footer {
    margin-bottom: 0px;
    color: white;
    padding: 50px;
}

.FooterText {
    display: flex;
    margin: auto;
}

.card { transition: all .5s ease-in-out; }
.card:hover { transform: scale(1.1); }


